.lab{
	background-color: #F4C300;
	color: #2F2F2F;
	padding: 10px;
	display: inline-block;
	margin: 15px;
}
.es{
	background-color: #2F2F2F;
	color: #FFF;
	padding: 10px;
	display: inline-block;
	margin: 15px;
}
.trans{
	background-color: #F4C300;
	color: #2F2F2F;
	padding: 10px;
	display: inline-block;
	margin: 15px;
}