.lab{
	background-color: #F4C300;
	color: #2F2F2F;
	height: 150px;
	width: 300px;
	padding: 10px;
}
.es{
	background-color: #2F2F2F;
	color: #FFF;
	height: 150px;
	width: 300px;
	padding: 10px;
}
.trans{
	background-color: #F4C300;
	color: #2F2F2F;
	height: 150px;
	width: 300px;
	padding: 10px;
}